.todoItems {
  font-family: monospace;
  min-height: 100px;
  max-height: 400px;
  overflow-y: auto;
}

.doneMarker {
  cursor: pointer;
}

.doneMarker:hover {
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  border-radius: 6px;
}

.deleteMarker {
  cursor: pointer;
  color: white;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5em;
}

.deleteMarker:hover {
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.todoItem {
  display: flex;
  align-self: center;
  margin: 5px;
  padding: 8px;
  align-self: center;
  background-color: rgba(0,0,0,0.05);
  border-radius: 20px;
}

.todoText {
  flex: 1;
  text-align: left;
}

.todoInput input {
  width: 70%;
  margin-bottom: 20px;
  border: solid 1px #AAA;
  padding: 3px;
  font-size: 1.1em;
  border-radius: 3px;
  box-shadow: 3px 3px 10px #555;
}

@media (min-width: 700) {
  .todoInput input {
    width: 400px;
  }
}

.todoItems::-webkit-scrollbar {
  width: 1em;
}

.todoItems::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  border-radius: 15px;
}

.todoItems::-webkit-scrollbar-thumb {
  background-color: #cbcbdc;
  border-radius: 15px;
}

.fancyHdr {
  font-size: 40pt;
  -webkit-mask-image:
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0,0,0,1)),
      color-stop(100%, rgba(0,0,0,0)),
      to(rgba(0,0,0,1)));
  text-shadow: 0 2px 0 #e9e9e9;
  margin: 5px;
}